# Dictionary

In [2]:
list1=['Ram','Raheem','Robert']
list2=[25,30,35]
for i,j in zip(list1,list2):
    print(i,j)

Ram 25
Raheem 30
Robert 35

In [4]:
#{key:value}
d1={'Ram':25,
'Raheem':30,
'Robert':35}
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [5]:
d2={25:'Ram',30:'Raheem',35:'Robert'}
d2
#keys: 25,30,35
#values: 'Ram','Raheem','Robert'

{25: 'Ram', 30: 'Raheem', 35: 'Robert'}

Dictionary is a key:value pair
at values postition you can take any data type
at keys postion list and dictionary will fail
Duplicates are not allowed
If you will update a key value, latest value it will take

In [8]:
d1={'Ram':25,
'Raheem':30,
'Robert':35}
print(max(d1))
print(min(d1))

#Maximum and minimum value based on key only

Robert
Raheem

In [10]:
d1={'Ram':25,
'Raheem':30,
'Robert':35}

#'Ram':25 in d1  #fail
'Ram' in d1      # works
#25 in d1        # Fails

True

In [12]:
d1={'Ram':25,
'Raheem':30,
'Robert':35}
d1['Ram']
#using loop
for key in d1:
    print("The age of {} is {}".format(key,d1[key]))

The age of Ram is 25
The age of Raheem is 30
The age of Robert is 35

In [13]:
#creating a dict
d1={}
d1["First name"]="steve"
d1["last name"]="rogers"
d1["Nativeplace"]="New york"

d1

{'First name': 'steve', 'last name': 'rogers', 'Nativeplace': 'New york'}

In [18]:
# prograam to create a dictionary based on two lists
# names=['Ram','Raheem','Robert']
# age=[25,30,35]
# d1={'Ram':25,'Raheem':30,'Robert':35}
names=['Ram','Raheem','Robert']
age=[25,30,35]

#method-1
d={}
for i,j in zip(names,age):
    d[i]=j;
print(d)  

#method-2
dict1={}
for i in range(len(names)):
    dict1[names[i]]=age[i]
print(dict1) 

#method-3
dict1={name:age for name,age in zip(names,age)}
dict1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}
{'Ram': 25, 'Raheem': 30, 'Robert': 35}

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

# items − keys − values

In [22]:
d1={'Ram':25,
'Raheem':30,
'Robert':35}
d1
#items
items=d1.items()
items                #output--> dict_items([('Ram', 25), ('Raheem', 30), ('Robert', 35)])
type(items)          #output-->dict_items

#keys
keys=d1.keys()
keys                #output-->dict_keys(['Ram', 'Raheem', 'Robert'])
type(keys)           #output-->dict_keys

#values
val=d1.values()
val                 #output-->dict_values([25, 30, 35])
type(val)           #output-->dict_values

dict_values

In [24]:
val # I want to convert into a list
values_list=list(val) # then you can apply list methods
values_list

[25, 30, 35]

In [25]:
keys_list=list(keys)
keys_list

['Ram', 'Raheem', 'Robert']

In [30]:
d1={}
for i in range(len(keys_list)):
    d1[keys_list[i]]=values_list[i] # d1[keys[0]]=values[0] d1['Ram']=25
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [31]:
dict(zip(keys,val))

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [38]:
s1='virat.kohli@blr.com,Rohit.sharma@mumbai.com,kl.rahul@delhi.com'
#output should look like
# {'first_name':['virat','Rohit','KL'],
# 'second_name':['kohli','sharma','rahul'],
# 'company':['blr','mumbai','delhi']}

l1=s1.split(',')
f_name=[]
l_name=[]
team=[]
ipl={}
for i in l1:
    f_name.append(i[0 : i.find('.')])
    l_name.append(i[i.find('.')+1 : i.find('@') ])
    team.append(i[i.find('@')+1 : i.find('.',i.find('.')+1)])
ipl['first_name']=f_name
ipl['second_name']=l_name
ipl['company']=team
ipl

{'first_name': ['virat', 'Rohit', 'kl'],
 'second_name': ['kohli', 'sharma', 'rahul'],
 'company': ['blr', 'mumbai', 'delhi']}

In [42]:
str1='can can you canner can you able to can canner'
#{'can':4,'you':2,'canner':2,'able':1,'to':1}
# d={}
# step-1: split the str1 ======= > you will get a list
# step-2: iterate through loop ==== > each word will print
# step-3: list1.count(<word>): number
# step-4: make the dictionary
d1={}
l1=str1.split(' ')
for i in l1:
    d1[i]=l1.count(i)
print(d1)

{'can': 4, 'you': 2, 'canner': 2, 'able': 1, 'to': 1}

# pop-popitem-del

what is pop
    pop will remove specify key
    return value
what is popitem
    - remove the last value default
    - return the pair
what is del
    - del is a keyword
    - it can delete an item by providing specific key

In [47]:
d2 = {'a':20,'b':30,'c':40,'d':500}
d2.pop('a')         #output:20
d2.popitem()        #output:('d', 500)
del d2['c']
d2

{'b': 30}

# update

In [49]:
# it inserts the particular items to the dictionary
d1 = {'a': 1, 'b': 4, 'c': 5}
d2 = {'b': 7, 'd': 9}
d1.update(d2)
print(d1)

{'a': 1, 'b': 7, 'c': 5, 'd': 9}

In [51]:
d1 = {'a': 1, 'b': 4, 'c': 5}
d2 = {'b': 7, 'd': 9}
d2.update(d1)
print(d2)
#Update method will update a dictionary with elements from another dictionary.
#It modifies the dictionary.

{'b': 4, 'd': 9, 'a': 1, 'c': 5}