# LIST CONCEPT

In [32]:
'''list is an array of elements
list elements heterogeneous(different) data types are allowed
duplicates are allowed
list in list also works'''
list1=[1,2,3,4]
list2=['a','b','c','d']

# append

In [2]:
#append-->add the elements at last index
list1=[100,200]
print(list1)
list1.append(300)
print(list1)
list1.append([400,500])
print(list1)

[100, 200]
[100, 200, 300]
[100, 200, 300, [400, 500]]

# List comprehension

In [6]:
list1=[1,2,3,4,5]
output=[]
for i in list1:
    output.append(i*i)
print(output)    


# List comprehension means (code in a single line ===== > speed the process)
# step-1: intilaized the list output=[]
# step-2: iterate the loop
# step-3: you save the output

output=[i*i for i in list1]
print(output)
# [<output> <forloop>]

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [9]:
list2=['hyd','bengaluru','delhi']
# output=['Hyd','Bengaluru','Delhi']
output=[]
for i in list2:
    output.append(i.capitalize())
print(output)    
    
#using List comprehension
output1=[i.capitalize() for i in list2]
print(output1)

['Hyd', 'Bengaluru', 'Delhi']
['Hyd', 'Bengaluru', 'Delhi']

In [11]:
# create the list of 20 numbers from 1 to 20
list1=[i for i in range(1,21)]
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [15]:
# list comprehenshion with if condition

list3=['h#d','beng#luru','delhi']
# output=['h#d','beng#luru']
output=[]
for i in list3:
    if '#' in i:
        output.append(i)
print(output)

#[<o/p> <forloop> <if_condition>]

output1=[i for i in list3 if '#' in i]
output1

['h#d', 'beng#luru']

['h#d', 'beng#luru']

In [17]:
# elemnts less than 3
list4=["abcd","abc","ac","a"]
output=[i for i in list4 if len(i)<3]
output

['ac', 'a']

In [20]:
# list comprehenshion with if-else condition

list1=[1,2,3,4,5,6]
output=[]
for i in list1:
    if i%2==0:
        output.append("even:{}".format(i))
    else:
        output.append("odd:{}".format(i))
print(output)

#[<if_output> <if_condition> else <else_output> <for loop>]
output1=["even:{}".format(i) if i%2==0 else "odd:{}".format(i) for i in list1]
output1

['odd:1', 'even:2', 'odd:3', 'even:4', 'odd:5', 'even:6']

['odd:1', 'even:2', 'odd:3', 'even:4', 'odd:5', 'even:6']

In [21]:
#Extend
list1=['A','B','C']
list2=[1,2,3]
list1.extend(list2)
list1

['A', 'B', 'C', 1, 2, 3]

In [22]:
#using append
list1=['A','B','C']
list2=[1,2,3]
list1.append(list2) # ['A','B','C',[1,2,3]]
list1

['A', 'B', 'C', [1, 2, 3]]

In [24]:
#using concat
list1 = [1, 2, 3]
list2 = [4, 5]
result = list1 + list2
result

[1, 2, 3, 4, 5]

# append vs extend vs concat

 
append will add the element at last , that element can be any type
        - list1=[1,2,3]
        - list2 =['A','B']
        - list1.append(list2)=[1,2,3,['A','B']]
Extend will update the list by adding new elements, the result also save in a same list
        - list1=[1,2,3]
        - list2 =['A','B']
        - list1.extend(list2)=[1,2,3,'A','B']
Concat will add two list, but the result will not update in a same list
        - list1=[1,2,3]
        - list2 =['A','B']
        - list1+list2=[1,2,3,'A','B']

# pop-remove-del

In [26]:
list1=[1,2,3]
list1.extend('python')
list1.append('python')
#output-->[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n', 'python']
list1.pop()

'python'

In [27]:
list1
list1.pop(5)    # list1.pop(list1.index('t'))
# in side bracket default aragument is there index=-1
# -1 means last value
# if you not provide any value
# it will remove last value
# if i provide any index, it will reove that element
# it is also returning , which element it is removing

't'

In [31]:
#remove
list1=[100,200,100,300] # duplicates are allowed
list1.remove(100)     # first occurence will gone
list1 # it will not return any value

#del
#del(list1)--> when you try to print list1 it gives error that list1 is not defined

[200, 100, 300]

In [34]:
dir(list1)
#it will give all the attributes and methods available in list

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# zip

In [35]:
#zip-->useful to combine multiple iterables (like lists) element-wise
list1=['Ram','Robert','Raheem']
list2=[25,30,35]
# 'Ram age is 25'
# 'Robert age is 30'
# 'Raheem age is 35'
for i,j in zip(list1,list2):
    print("{} age is {}".format(i,j))

Ram age is 25
Robert age is 30
Raheem age is 35

In [36]:
list1=[100,200,300]
list2=[25,30,35]
# output=[125,230,335]
output=[i+j for i,j in zip(list1,list2)]
output

[125, 230, 335]